In [46]:
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.neighbors import NearestNeighbors
from sklearn.ensemble import RandomForestClassifier

In [3]:
!ls data

sol.csv  test.csv  train.csv

In [68]:
path_to_train = './data/train.csv'
path_to_test = './data/test.csv'

train_df = pd.read_csv(path_to_train, sep=',')
test_df = pd.read_csv(path_to_test, sep=',')

print train_df.shape, test_df.shape

(50000, 63) (50000, 63)

In [78]:
train_df = train_df.fillna(0)
train_df.x0 = train_df.x0.apply( lambda x: int(str(x),base=16) )
train_df.x1 = train_df.x1.apply( lambda x: int(str(x),base=16) )
train_df.x2 = train_df.x2.apply( lambda x: int(str(x),base=16) )
train_df.x3 = train_df.x3.apply( lambda x: int(str(x),base=16) )
train_df.x4 = train_df.x4.apply( lambda x: int(str(x),base=16) )
train_df.x5 = train_df.x5.apply( lambda x: int(str(x),base=16) )
train_df.x9 = train_df.x9.apply( lambda x: int(str(x),base=16) )
train_df.x10 = train_df.x10.apply( lambda x: int(str(x),base=16) )
train_df.x11 = train_df.x11.apply( lambda x: int(str(x),base=16) )
train_df.x12 = train_df.x12.apply( lambda x: int(str(x),base=16) )
train_df.x14 = train_df.x14.apply( lambda x: int(str(x),base=16) )
train_df.x15 = train_df.x15.apply( lambda x: int(str(x),base=16) )
train_df.x16 = train_df.x16.apply( lambda x: int(str(x),base=16) )
train_df.x17 = train_df.x17.apply( lambda x: int(str(x),base=16) )
train_df.x18 = train_df.x18.apply( lambda x: int(str(x),base=16) )
train_df.x19 = train_df.x19.apply( lambda x: int(str(x),base=16) )
train_df.x20 = train_df.x20.apply( lambda x: int(str(x),base=16) )
train_df.x21 = train_df.x21.apply( lambda x: int(str(x),base=16) )
train_df.x22 = train_df.x22.apply( lambda x: int(str(x),base=16) )

In [79]:
test_df = test_df.fillna(0)
test_df.x0 = test_df.x0.apply( lambda x: int(str(x),base=16) )
test_df.x1 = test_df.x1.apply( lambda x: int(str(x),base=16) )
test_df.x2 = test_df.x2.apply( lambda x: int(str(x),base=16) )
test_df.x3 = test_df.x3.apply( lambda x: int(str(x),base=16) )
test_df.x4 = test_df.x4.apply( lambda x: int(str(x),base=16) )
test_df.x5 = test_df.x5.apply( lambda x: int(str(x),base=16) )
test_df.x9 = test_df.x9.apply( lambda x: int(str(x),base=16) )
test_df.x10 = test_df.x10.apply( lambda x: int(str(x),base=16) )
test_df.x11 = test_df.x11.apply( lambda x: int(str(x),base=16) )
test_df.x12 = test_df.x12.apply( lambda x: int(str(x),base=16) )
test_df.x14 = test_df.x14.apply( lambda x: int(str(x),base=16) )
test_df.x15 = test_df.x15.apply( lambda x: int(str(x),base=16) )
test_df.x16 = test_df.x16.apply( lambda x: int(str(x),base=16) )
test_df.x17 = test_df.x17.apply( lambda x: int(str(x),base=16) )
test_df.x18 = test_df.x18.apply( lambda x: int(str(x),base=16) )
test_df.x19 = test_df.x19.apply( lambda x: int(str(x),base=16) )
test_df.x20 = test_df.x20.apply( lambda x: int(str(x),base=16) )
test_df.x21 = test_df.x21.apply( lambda x: int(str(x),base=16) )
test_df.x22 = test_df.x22.apply( lambda x: int(str(x),base=16) )

In [69]:
train_df.head()

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x53,x54,x55,x56,x57,x58,x59,x60,x61,y
0,776728892394,131284945413012,131284945413012,131284945413012,131284945413012,131284945413012,1,1,-0.688706,7e5c97705a,...,0.235333,0.264952,0.000000,0.333333,0.333333,0.333333,0.000000,0.000000,9,2
1,302788253603,52946345997827,52946345997827,52946345997827,52946345997827,52946345997827,1,1,0.870871,5624b8f759,...,1.782346,1.322409,0.011647,0.397671,0.239601,0.249584,0.068220,0.033278,601,4
2,107444888872,18091552049266,18091552049266,18091552049266,18091552049266,18091552049266,1,1,0.437655,5624b8f759,...,-0.586540,0.672436,0.000000,0.606061,0.121212,0.212121,0.060606,0.000000,33,3
3,290003649980,45080033663360,45080033663360,45080033663360,45080033663360,45080033663360,1,1,0.004439,f67f142e40,...,-1.600326,-1.838680,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1,4
4,707646806901,123653291272449,123653291272449,123653291272449,123653291272449,123653291272449,1,1,0.480977,7e5c97705a,...,0.960991,0.790990,0.020161,0.645161,0.258065,0.036290,0.040323,0.000000,248,3

In [8]:
test_df.head()

,ID,x0,x1,x2,x3,x4,x5,x6,x7,x8,...,x52,x53,x54,x55,x56,x57,x58,x59,x60,x61
0,0,aa2f3cd34a,16a14a2d17,06330986ed,ca63304de0,b7584c2d52,1746600cb0,1,1,-1.425173,...,0.361,0.591831,0.261807,0.000000,0.038462,0.153846,0.153846,0.653846,0,52
1,1,aa2f3cd34a,bb32cb60e5,9734efb986,ca63304de0,b7584c2d52,1746600cb0,1,1,-0.038882,...,0.000,0.652880,1.604071,0.178273,0.178273,0.370474,0.253482,0.019499,0,359
2,2,80884d4ac6,16a14a2d17,06330986ed,ca63304de0,16f4c50b5f,4c9789a227,0,1,-2.984750,...,0.809,-0.317609,-0.792001,0.080925,0.895954,0.017341,0.000000,0.005780,0,173
3,3,a08606faa5,16a14a2d17,06330986ed,ca63304de0,a62168d626,1746600cb0,1,1,0.480977,...,0.000,-0.386877,-0.077837,0.000000,0.482143,0.507143,0.007143,0.003571,0,280
4,4,aa2f3cd34a,16a14a2d17,06330986ed,ca63304de0,a62168d626,1746600cb0,1,1,0.784228,...,0.602,-0.575839,0.435899,0.126761,0.478873,0.000000,0.394366,0.000000,0,71

In [85]:
train = np.array(train_df.ix[:, 0:-1])
test = np.array(train_df.ix[:, 1:])

y = np.array(train_df.ix[:, train_df.shape[1]-1:]).ravel()

print train.shape, test.shape, y.shape

(50000, 62) (50000, 62) (50000,)

In [ ]:
model = RandomForestClassifier(n_estimators=150, random_state=0, n_jobs=-1)
model.fit(train, y)

result = model.predict(test)

In [114]:
np.savetxt('mysol.csv',np.dstack((np.arange(1, result.size+1),result))[0],"%d,%d")